body{
    background-color: #ffffff;
}
.login{
    background-color:#fff5ee;
    width: 500px;
    padding: 25px;
    margin: 50px auto 0;
    border: 1.5px solid palevioletred;
    text-align: center;
    border-radius: 5px ;
    
}
h1{
    
        background-color: #cf6e87;
        text-align: center;
        padding: 20px 0;
        font-size: 24px;
        font-weight: bold;
        color: #f2d7dd;
        text-shadow: 2px 2px #470a11;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

}

h2{
    color: #ffb6c1;
    font-family: sans-serif;
}
.input-name{
    border-color: rgb(138, 50, 84);
    width: 80%;
    padding-left: 20px;
}
input{
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(78, 60, 13);
    padding-left: 10px;
}

.button-1{
    width:75%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color:#fff0f5 ;
    color: rgb(0, 0, 0);
}
.button-2{

        background-color:#FFF5EE ;
        border: #FFF5EE;
        color:#83304b ;
    
}


.button-1:hover{
    background-color: #e194a7;
}

.footer {
    background-color: #e6bad0; 
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top:30%;
}

